/* /Pages/LessonGrammar.razor.rz.scp.css */
.medium[b-jcynb6zh5i] {
    font-size: 16px;
}
/* /Pages/LessonSong.razor.rz.scp.css */
.font-small[b-21mdl9ckz5] {
    font-size: 14px;
}

.font-medium[b-21mdl9ckz5] {
    font-size: 17px;
}

.font-large[b-21mdl9ckz5] {
    font-size: 20px;
}

.ruby[b-21mdl9ckz5]{
    font-size: 75%;
}
.rt[b-21mdl9ckz5]{
    font-size: 75%;
}

.configBox[b-21mdl9ckz5]{
    margin-bottom: 0rem;
}

[b-21mdl9ckz5] .configBox_Btn{
    min-width: unset;
}

.configBox_Title[b-21mdl9ckz5]{
    color: #fff;
    font-size: 90%;
    text-align: center;
    background-color: #555;
    margin-bottom: 5px;
    border-radius: 3px;
}
.configBox_Content[b-21mdl9ckz5]{
    margin-bottom: 0rem;
}


.songLyrics[b-21mdl9ckz5] {
    margin-bottom: .5rem;
}
/* /Pages/QuizJAdjs.razor.rz.scp.css */
.quizStats_Div[b-l2rm3kesta]{
    display: flex;
    flex-flow:row wrap;
}

[b-l2rm3kesta] .quizStats_Left{
    width:33.33333%;
    text-align:left;
}

[b-l2rm3kesta] .quizStats_Center{
    width:33.33333%;
    text-align:center;
}

[b-l2rm3kesta] .quizStats_Right{
    width:33.33333%;
    text-align:right;
}

.inputDiv[b-l2rm3kesta]{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* /Pages/QuizJAlpha.razor.rz.scp.css */
.quizStats_Div[b-ni0igx0tj9]{
    display: flex;
    flex-flow:row wrap;
}

[b-ni0igx0tj9] .quizStats_Left{
    width:33.33333%;
    text-align:left;
}

[b-ni0igx0tj9] .quizStats_Center{
    width:33.33333%;
    text-align:center;
}

[b-ni0igx0tj9] .quizStats_Right{
    width:33.33333%;
    text-align:right;
}

.inputDiv[b-ni0igx0tj9]{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* /Pages/QuizJKanji.razor.rz.scp.css */
.quizStats_Div[b-2yo63zumay]{
    display: flex;
    flex-flow:row wrap;
}

[b-2yo63zumay] .quizStats_Left{
    width:33.33333%;
    text-align:left;
}

[b-2yo63zumay] .quizStats_Center{
    width:33.33333%;
    text-align:center;
}

[b-2yo63zumay] .quizStats_Right{
    width:33.33333%;
    text-align:right;
}

.inputDiv[b-2yo63zumay]{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* /Pages/QuizJVerbs.razor.rz.scp.css */
.quizStats_Div[b-b244978vux]{
    display: flex;
    flex-flow:row wrap;
}

[b-b244978vux] .quizStats_Left{
    width:33.33333%;
    text-align:left;
}

[b-b244978vux] .quizStats_Center{
    width:33.33333%;
    text-align:center;
}

[b-b244978vux] .quizStats_Right{
    width:33.33333%;
    text-align:right;
}

.inputDiv[b-b244978vux]{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.mudblazor-main-content[b-352iyf90c3] {
    padding-top:86px;
    padding-bottom:86px;
}

@media (min-width: 960px) {
    .mudblazor-main-content[b-352iyf90c3] {
        padding-top:128px;
        padding-bottom: 64px;
        padding-left: 12px;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-3s934cirgm] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-3s934cirgm] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-3s934cirgm] {
    font-size: 1.1rem;
}

.oi[b-3s934cirgm] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-3s934cirgm] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-3s934cirgm] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-3s934cirgm] {
        padding-bottom: 1rem;
    }

    .nav-item[b-3s934cirgm]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-3s934cirgm]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-3s934cirgm]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-3s934cirgm] {
        display: none;
    }

    .collapse[b-3s934cirgm] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
